.left {
    .header-view {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 370px;

        .logo {
            display: flex;
            align-items: end;
            &:hover{
                cursor: pointer;
            }

            img {
                width: 220px;
                height: 60px;
            }
        }

        .menu-burger {
            background-color: transparent;
            width: 55px;
            height: 55px;
            border: 0.5px solid white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 7px;
            opacity: 0.8;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }

            span {
                width: 45%;
                height: 2.5px;
                background-color: white;
                border-radius: 3px;
                transition: transform 250ms ease-in-out;
                transform-origin: 0% 75%;

            }
        }
    }
}

.hide {
    opacity: 0;
}

.rotateLeft {
    transform: rotate(-45deg);
}

.rotateRigth {
    transform: rotate(45deg);
}