img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 25px;
}

button{
    cursor: pointer;
    border: none;
    background-color: #7a17ee;
}

.bascket{
    cursor: pointer;
}
.item-count-badge{
    color: red;     
}

.badge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18px;
    right: 0px;
    margin-right: 4px;
    color: white;
    background-color: red;
    border-radius: 50%;
}